*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // define what 1rem is
  font-size: 100%; // 10px / 16px = .625 * 100 = 62.5%
}

body {
  box-sizing: border-box;
  font-family: "Robote", sans-serif;
  color: $textColor;
  background: mediumslateblue;
}

img {
  max-height: 100%;
  height: auto;
}

::selection {
  background-color: red;
  color: white;
}
